{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;需求管理 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/select2/css/select2.min.css' %}" />
  <!--customer css-->
<!--  <link href="{% static 'project_stage/css/sample_record_add.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}

  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>提出需求</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info ">

              <form class="form-horizontal" method="post" action="{% url 'demand_manage:add_demand' %}" enctype="multipart/form-data">
              <!-- card-body -->
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="card-body ">  <!--<div class="card-body pt-0 pb-1 pl-1 pr-1">-->
                    {% csrf_token %}
                      <div class="row">
                        <div class="col">
                          <!--需求类型-->
                          <div class="form-group row">
                            {{ form.demand_type.label_tag }}
                            <div class="col-md-7">
                              {{ form.demand_type }}
                            </div>
                          </div>
                          <!--需求描述-->
                          <div class="form-group row">
                            {{ form.demand_describe.label_tag }}
                            <div class="col-md-7">
                              {{ form.demand_describe }}
                            </div>
                          </div>
                          <!--紧急程度-->
                          <div class="form-group row">
                            {{ form.urgent_degree.label_tag }}
                            <div class="col-md-7">
                              {{ form.urgent_degree }}
                            </div>
                          </div>
                          <!--重要程度-->
                          <div class="form-group row">
                            {{ form.important_degree.label_tag }}
                            <div class="col-md-7">
                              {{ form.important_degree }}
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <!--相关截图-->
                          <div class="form-group row">
                            {{ form.file.label_tag }}
                            <div class="col-md-7">
                              {{ form.file }}
                            </div>
                          </div>

                          <!--发起人-->
                          <div class="form-group row">
                            <label>提出人：</label>
                            <div class="col-md-7">
                              <input  type="text" name="sponsor" class="form-control" value="{{ request.session.user_name }}" readonly="readonly" id="id_creator" />
                            </div>
                          </div>

                        </div>
                      </div>
                  </div>  <!-- /.card-body-->
                </div>   <!-- /.col-->
              </div>  <!-- /.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-md-2 offset-md-5">
                        <a href="{% url 'demand_manage:demand_page' 'add_back' %}" class="btn btn-secondary btn-sm">取消</a>
                        <input type="submit" value="提交" class="btn btn-success btn-sm float-right">
                      </div>
                    </div>
                  </div>  <!-- /.card-footer-->
                </div>  <!-- /.col-->
              </div>   <!-- /.row-->
              </form>

        </div>  <!-- /.card-->
      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/select2/js/select2.full.min.js' %}"></script>

<script type="text/javascript">

  // 给label加上class属性;input加上class;
  $("form label").addClass("col-md-4 col-form-label");

  // 给必填项添加*
  var txt1 = '<span style="color:red"> *</span>';
  $("[for='id_demand_type']").append(txt1);
  $("[for='id_demand_describe']").append(txt1);
  $("[for='id_urgent_degree']").append(txt1);
  $("[for='id_important_degree']").append(txt1);

  // 设置弹出提示框属性
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

  // 定义message显示
    function msgTip(){
      var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
      if (msgs=='add_failed') {
        toastr.error('添加需求失败！')
      }else if (msgs=='repeat') {
        toastr.error('该客户已存在！')
      }
    }
    msgTip();

</script>
{% endblock %}