{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;添加客户 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/select2/css/select2.min.css' %}" />
  <!--customer css-->
  <!--  <link href="{% static 'css/unit_add.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}

  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>添加客户</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info ">

              <form class="form-horizontal" method="post" action="{% url 'customer:customer_add' %}">
              <!-- card-body -->
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="card-body ">  <!--<div class="card-body pt-0 pb-1 pl-1 pr-1">-->
                    {% csrf_token %}
                    <div class="row">
                      <div class="col">
                      <!--客户姓名-->
                      <div class="form-group row">
                        {{ form.customer_name.label_tag }}
                        <div class="col-md-7">
                          {{ form.customer_name }}
                        </div>
                      </div>
                      <!--电话-->
                      <div class="form-group row">
                        {{ form.phone.label_tag }}
                        <div class="col-md-7">
                          {{ form.phone }}
                        </div>
                      </div>
                      <!--邮箱-->
                      <div class="form-group row">
                        {{ form.mail.label_tag }}
                        <div class="col-md-7">
                          {{ form.mail }}
                        </div>
                      </div>
                      <!--单位-->
                      <div class="form-group row">
                        {{ form.unit.label_tag }}
                        <div class="col-md-7" id="unit">
                          {{ form.unit }}
                        </div>
                      </div>
                      <!--科室/院系-->
                      <div class="form-group row">
                        {{ form.department.label_tag }}
                        <div class="col-md-7">
                          {{ form.department }}
                        </div>
                      </div>
                      </div>
                      <div class="col">

                      <!--负责人-->
                      <div class="form-group row">
                        {{ form.leading_official.label_tag }}
                        <div class="col-md-7">
                          {{ form.leading_official }}
                        </div>
                      </div>
                      <!--通讯地址-->
                      <div class="form-group row">
                        {{ form.address.label_tag }}
                        <div class="col-md-7">
                          {{ form.address }}
                        </div>
                      </div>
                      <!--备注-->
                      <div class="form-group row">
                        {{ form.note.label_tag }}
                        <div class="col-md-7">
                          {{ form.note }}
                        </div>
                      </div>
                      <!--添加人-->
                      <div class="form-group row">
                        {{ form.person_add.label_tag }}
                        <div class="col-md-7">
                          <input  type="text" name="person_add" class="form-control" value="{{ request.session.user_name }}" readonly="readonly" id="id_person_add" />
                        </div>
                      </div>
                      </div>
                    </div>  <!-- /.row-->
                  </div>  <!-- /.card-body-->
                </div>   <!-- /.col-->
              </div>  <!-- /.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-md-2 offset-md-5">
                        <a href="{% url 'customer:customer_list' %}" class="btn btn-secondary btn-sm">取消</a>
                        <input type="submit" value="提交" class="btn btn-success btn-sm float-right">
                      </div>
                    </div>
                  </div>  <!-- /.card-footer-->
                </div>  <!-- /.col-->
              </div>   <!-- /.row-->
              </form>

        </div>  <!-- /.card-->
      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/select2/js/select2.full.min.js' %}"></script>

<script type="text/javascript">

  // 给label加上class属性;input加上class;
  $("form label").addClass("col-md-4 col-form-label");

  // 给必填项添加*
  var txt1 = '<span style="color:red"> *</span>';
  $("[for='id_customer_name']").append(txt1);

  // 给select添加样式,<!-- Select2 -->
  $("#id_unit").addClass("select2");
  $("#id_unit ").attr("style","width:100%;");
  //Initialize Select2 Elements
  $('.select2').select2();

  // 设置弹出提示框属性
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

  // 定义message显示
    function msgTip(){
      var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
      if (msgs=='repeat') {
        toastr.error('该客户已存在！')
      }
    }
    msgTip();

</script>
{% endblock %}