{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;预付款合同详情 {% endblock %}

{% block css %}
    <link href="{% static 'contract_manage/css/advancepay_contract_detail.css'  %}" rel="stylesheet" />
{% endblock  %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>预付款合同详细信息</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- card-header -->
          <div class="card-header ">
            <h5 class="m-0"><strong class="btn btn-info">合同编号：{{ contract.contract_num }}</strong></h5>
          </div>
          <!-- card-body -->
          <div class="card-body  pb-1  "> <!--pt-0 pl-1 pr-1-->
            <div class="row">
              <div class="col-md-12">
                <h6><b>基本信息:</b></h6>
                <table border="1" class="table " style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
                  <thead>
                    <tr>
                      <th>单位</th>
                      <th>联系人</th>
                      <th>合同金额</th>
                      <th>回收日期</th>
                      <th>创建人</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ contract.unit_name }}</td>
                      <td>{{ contract.linkman }}</td>
                      <td>{{ contract.contract_sum }}</td>
                      <td>
                        {% if contract.callback_date %}
                          {{ contract.callback_date|date:"Y-m-d" }}
                        {% else %}
                          -
                        {% endif  %}
                      </td>
                      <td>{{ contract.creator }}</td>

                    </tr>
                  </tbody>
                </table>
              </div><!--/.col-->
            </div>  <!--/.row-->

            <div class="row">
              <div class="col-md-8">
              <h6><b>开票和使用情况:</b></h6>
              <table border="1" class="table " style="border-left:3px solid orangered;border-bottom:1px solid orangered" >
                <thead>
                  <tr>
                    <th>已开票金额</th>
                    <th>未开票金额</th>
                    <th>回款金额</th>
                    <th>使用金额</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ contract.makeout_invoice_sum }}</td>
                    <td>{{ contract.not_makeout_invoice_sum }}</td>
                    <td>{{ contract.payment_sum }}</td>
                    <td>{{ contract.used_sum }}</td>
                  </tr>
                </tbody>
              </table>
              </div>  <!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-12">
                <h6><b>备注:</b></h6>
                <p>{{ contract.note|default_if_none:"-" }}</p>
              </div><!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-12">
                <h6><b>合同文件:</b></h6>
                <div>
                  {% if contract.contract_file %}
                    <div><a href="{{ contract.contract_file.url }}">{{ contract.contract_file.name|slice:"15:" }}</a></div>
                  {% endif %}
                </div>
              </div><!--/.col-->
            </div>  <!--/.row-->
          </div>  <!-- /.card-body-->
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a href="{% url 'contract_manage:advancepay_contract_page'%}" style="color:green;"><strong>返回预付款合同列表</strong></a>
              </div>  <!--/.col-->
            </div>
          </div>  <!--/.row-->
        </div>  <!-- /.card-->
      </div> <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}
