{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;修改预付款合同信息 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/select2/css/select2.min.css' %}" />
  <!--customer css-->
<!--  <link href="{% static 'contract_manage/css/project_order_edit.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}

  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>预付款合同信息修改</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">合同编号：&nbsp;{{ contract.contract_num }}</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body pb-0">
            <div class="row">
              <div class="col">
                <p><span class="link_info"> 已开票金额 </span> ：{{ contract.makeout_invoice_sum }} </p>
                <p><span class="link_info"> 未开票金额 </span> ：{{ contract.not_makeout_invoice_sum }} </p>
                <p><span class="link_info"> 创建人 </span> ：{{ contract.creator }} </p>

              </div>
              <div class="col">
                <p><span class="link_info"> 回款金额 </span> ：{{ contract.payment_sum }} </p>
                <p><span class="link_info"> 已使用金额 </span> ：{{ contract.used_sum }} </p>

              </div>
            </div>

          </div> <!-- /.card-body -->
        </div>  <!-- /.card-secondary  -->
        <div class="card card-info ">
              <form class="form-horizontal" method="post" action="{% url 'contract_manage:advancepay_contract_edit' contract.id %}" enctype="multipart/form-data">
              <!-- card-body -->
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="card-body ">  <!--<div class="card-body pt-0 pb-1 pl-1 pr-1">-->
                    {% csrf_token %}
                    <div class="row ">
                      <div class="col">
                          <!--单位-->
                          <div class="form-group row">
                            {{ form.unit.label_tag }}
                            <div class="col-md-7">
                              {{ form.unit }}
                            </div>
                          </div>
                          <!--联系人-->
                          <div class="form-group row">
                            {{ form.linkman.label_tag }}
                            <div class="col-md-7" id="unit">
                              {{ form.linkman }}
                            </div>
                          </div>
                          <!--合同金额-->
                          <div class="form-group row">
                            {{ form.contract_sum.label_tag }}
                            <div class="col-md-7">
                              {{ form.contract_sum }}
                            </div>
                          </div>
                      </div>  <!--/.col-->
                      <div class="col">
                          <!--备注-->
                          <div class="form-group row">
                            {{ form.note.label_tag }}
                            <div class="col-md-7">
                              {{ form.note }}
                            </div>
                          </div>
                          <!--回收日期-->
                          <div class="form-group row">
                            {{ form.callback_date.label_tag }}
                            <div class="col-md-7">
                              {{ form.callback_date }}
                            </div>
                          </div>
                          <!--合同附件-->
                          <div class="form-group row">
                            {{ form.contract_file.label_tag }}
                            <div class="col-md-7">
                              {{ form.contract_file }}
                            </div>
                          </div>
                          <!--合同类型-->
                            <div style="display:none;">{{  form.contract_type }}</div>
                          <!--创建人-->
                            <div style="display:none;">{{  form.creator }}</div>
                      </div>    <!-- /.col-->
                      </div>   <!-- /.row-->
                  </div>  <!-- /.card-body-->
                </div>   <!-- /.col-->
              </div>  <!-- /.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-md-2 offset-md-5">
                        <a href="{% url 'contract_manage:advancepay_contract_page' 'edit_back' %}" class="btn btn-secondary btn-sm">取消</a>
                        <input type="submit" value="提交" class="btn btn-success btn-sm float-right">
                      </div>
                    </div>
                  </div>  <!-- /.card-footer-->
                </div>  <!-- /.col-->
              </div>   <!-- /.row-->
              </form>

        </div>  <!-- /.card-->
      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/select2/js/select2.full.min.js' %}"></script>

<script type="text/javascript">

  $(document).ready(function() {

  // 给label加上class属性;input加上class;
  $("form label").addClass("col-md-4 col-form-label");

  // 给必填项添加*
  var txt1 = '<span style="color:red"> *</span>';
  $("[for='id_unit']").append(txt1);
  $("[for='id_linkman']").append(txt1);
  $("[for='id_contract_sum']").append(txt1);

  // 给select添加样式,<!-- Select2 -->
  $("#id_unit").addClass("select2");
  $("#id_unit").attr("style","width:100%;");
  //Initialize Select2 Elements
  $('.select2').select2();

  // 设置弹出提示框属性
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

  // 定义message显示
    function msgTip(){
      var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
      if (msgs=='failed') {
        toastr.error('修改失败！')
      }
    }
    msgTip();

  });  // .ready

</script>
{% endblock %}