{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;项目合同详情 {% endblock %}

{% block css %}
    <link href="{% static 'contract_manage/css/project_contract_detail.css'  %}" rel="stylesheet" />
{% endblock  %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header pb-1">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>项目合同详细信息</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- card-header -->
          <div class="card-header ">
            <h5 class="m-0"><strong class="btn btn-info">合同编号：{{ contract.contract_num }}</strong></h5>
          </div>
          <!-- card-body -->
          <div class="card-body  pb-1  ">
            <div class="row">
              <div class="col-md-12">
                <h6><b>基本信息:</b></h6>
                <table border="1" class="table " style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
                  <thead>
                    <tr>
                      <th>单位</th>
                      <th>联系人</th>
                      <th>合同金额</th>
                      <th>回收日期</th>
                      <th>创建人</th>
                      <th>已开票金额</th>
                      <th>未开票金额</th>
                      <th>回款金额</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ contract.unit_name }}</td>
                      <td>{{ contract.linkman }}</td>
                      <td>{{ contract.contract_sum }}</td>
                      <td>{{ contract.callback_date|default_if_none:"-" }}</td>
                      <td>{{ contract.creator }}</td>
                      <td>{{ contract.makeout_invoice_sum }}</td>
                      <td>{{ contract.not_makeout_invoice_sum }}</td>
                      <td>{{ contract.payment_sum }}</td>
                    </tr>
                  </tbody>
                </table>
              </div><!--/.col-->
            </div>  <!--/.row-->

            <div class="row">
              <div class="col-md-8">
              <h6><b>关联项目:</b></h6>
              <table border="1" class="table " style="border-left:3px solid orangered;border-bottom:1px solid orangered" >
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>项目编号</th>
                    <th>项目类型</th>
                    <th>样本数量</th>
                    <th>项目金额</th>
                    <th>送样人</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in contract.project_order.all %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ order.project_order.project_num }}</td>
                      <td>{{ order.project_order.project_type }}</td>
                      <td>{{ order.project_order.sample_amount }}</td>
                      <td>{{ order.project_sum }}</td>
                      <td>{{ order.project_order.sample_sender.customer_name }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>  <!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-12">
                <h6><b>备注:</b></h6>
                <p>{{ contract.note|default:"-" }}</p>
              </div><!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-12">
                <h6><b>合同文件:</b></h6>
                <div>
                  {% if contract.contract_file %}
                    <div><a href="{{ contract.contract_file.url }}">{{ contract.contract_file.name|slice:"15:" }}</a></div>
                  {% endif %}
                </div>
              </div><!--/.col-->
            </div>  <!--/.row-->
          </div>  <!-- /.card-body-->
          <div class="card-footer">
            <div class="row ">
              <div class="col-md-6 ">
                <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a href="{% url 'contract_manage:project_contract_page' 'detail_back' %}" style="color:green;"><strong>返回项目合同列表</strong></a>
              </div>  <!--/.col-->
              <div class="col-md-6 text-center">
                {% if perms.contract_manage.apply_alter_contract %}
                  <a href="{% url 'contract_manage:project_contract_alter' contract.id %}" name="alter_contract" class="btn btn-info btn-sm">变更合同</a>
                {% endif %}
              </div>  <!--/.col-->
            </div>
          </div>  <!--/.row-->
        </div>  <!-- /.card-->
      </div> <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}
{% block script %}

<script type="text/javascript">

// 根据status决定是否禁用“合同变更”按钮；
    var status_val=new Number;
    status_val = {{ contract.status }};
    if (status_val == 0 ){
      document.getElementsByName("alter_contract")[0].className += ' disabled';
    };

</script>
{% endblock %}