{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;项目分配 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!--customer css-->

{% endblock  %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>项目分配</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">项目号：&nbsp;{{ project_order.project_order.project_num }}</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p><span> 项目类型 </span>：{{ project_order.project_order.project_type.project_name }} </p>
                <p><span> 样本类型 </span>： {{ project_order.project_order.sample_type }}</p>
                <p><span> 样本数量 </span>：{{ project_order.project_order.sample_amount }} </p>

              </div>
              <div class="col">
                <p><span class="link_info"> 送样人 </span> ：{{ project_order.project_order.sample_sender.customer_name }} </p>
                <p><span class="link_info"> 单位 </span> ：
                    <span>{{ project_order.project_order.unit|default:"-" }}</span>
                </p>
                <p><span class="link_info"> 负责人 </span> ：{{ project_order.project_order.terminal|default:"-" }} </p>
              </div>
            </div>
          </div> <!-- /.card-body -->
          <div class="row">
            <div class="col-md-12">
              <div class="card-footer ">
                <div class="row">
                  <div class="col-md-2 offset-md-5">
                    <a href="{% url 'project_order:order_not_distribute_page' 'normal_show' %}" class="btn btn-secondary btn-sm">返回</a>
                    &nbsp;&nbsp;
                    <a href="{% url 'project_order:fetch_project_order' project_order.id %}" class="btn btn-success btn-sm" role="button" >领取</a>
                  </div>
                </div>
              </div>  <!-- /.card-footer-->
            </div>  <!-- /.col-->
          </div>   <!-- /.row-->
        </div>

      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>

<script type="text/javascript">

  $(document).ready(function() {

  // 设置弹出提示框属性
    toastr.options = {
      closeButton: true,
      debug: true,
      progressBar: false,
      positionClass: "toast-center-center",
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      timeOut: "2000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut"
    };

  // 定义message显示
    function msgTip(){
      var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
      if (msgs=='failed') {
        toastr.error('修改失败！')
      }
    }
    msgTip();

  });  // .ready

</script>
{% endblock %}