{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;项目结算详情 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!--customer css-->
  <link href="{% static 'project_order/css/project_order_detail.css'  %}" rel="stylesheet" />
{% endblock  %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>项目结算详细信息</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- card-header -->
          <div class="card-header ">
            <h5 class="m-0"><strong class="btn btn-info">项目：{{ order.project_order.project_num }}</strong></h5>
          </div>
          <!-- card-body -->
          <div class="card-body  pb-1  "> <!--pt-0 pl-1 pr-1-->
            <div class="row">
              <div class="col-md-12">
                <h6><b>基本信息:</b></h6>
                <table border="1" class="table " style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
                  <thead>
                    <tr>
                      <th>项目类型</th>
                      <th>样本类型</th>
                      <th>机时类型</th>
                      <th>样本数量</th>
                      <th>项目来源</th>
                      <th>客户来源</th>
                      <th>项目负责人</th>
                      <th>报告发送日期</th>
                      <th>销售人员</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ order.project_order.project_type.project_name }}</td>
                      <td>{{ order.project_order.sample_type }}</td>
                      <td>
                        {{ order.project_order.machine_time|default:"-" }}
                      </td>
                      <td>{{ order.project_order.sample_amount }}</td>
                      <td>{{ order.get_project_source_display }}</td>
                      <td>
                          {{ order.get_customer_source_display|default:"-" }}
                      </td>
                      <td>{{ order.project_order.responsible_person.name|default:"-" }}</td><!--项目负责人-->
                      <td>
                        {% if order.project_order.date_send_report %}
                          {{ order.project_order.date_send_report|date:"Y-m-d" }}
                        {% else %}
                          -
                        {% endif %}
                      </td><!--报告发送日期-->
                      <td>
                        {{ order.sale_person|default:"-" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-8">
              <h6><b>送样人:</b></h6>
              <table border="1" class="table " style="border-left:3px solid orangered;border-bottom:1px solid orangered" >
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>单位</th>
                    <th>送样终端</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ order.project_order.sample_sender.customer_name }}</td>
                    <td>
                     {{ order.project_order.unit|default:"-" }}
                    </td>
                    <td>{{ order.project_order.terminal|default:"-" }}</td>
                  </tr>
                </tbody>
              </table>
              </div>  <!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-8">
              <h6><b>结算信息:</b></h6>
              <table border="1" class="table " style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
                <thead>
                  <tr>
                    <th>附加费用</th>
                    <th>项目金额</th>
                    <th>结算方式</th>
                    <th>合同记录</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {% for item in order.project_order.addition_item.all %}
                      <span class="badge badge-warning">{{ item.item_type }}</span>  <!--4.3中label已废除-->
                      {% empty %}
                          -
                      {% endfor %}
                    </td>
                    <td>{{ order.project_sum|default_if_none:"-" }}</td>
                    <td>
                      {{ order.pay_type|default:"-" }}
                    </td>
                    <td>{{ order.contract_record|yesno:"有,无,maybe" }}</td>
                  </tr>
                </tbody>
              </table>
              </div>  <!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-12">
                <h6><b>备注:</b></h6>
                <p>{{ order.note|default_if_none:"-" }}</p>
              </div><!--/.col-->
            </div>  <!--/.row-->

          </div>  <!-- /.card-body-->
          <div class="card-footer">
            <div class="row">
              <div class="col-md-6">
                <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a href="{% url 'project_order:project_order_page' 'detail_back' %}" style="color:green;"><strong>返回项目结算列表</strong></a>
              </div>  <!--/.col-->
              <div class="col-md-6">
                <a href="#" class="btn btn-sm btn-info" role="button" id="untread_project">归还项目</a>
              </div>
            </div>
          </div>  <!--/.row-->
        </div>  <!-- /.card-->
      </div> <!-- /.col-->
    </div>  <!-- /.row-->
  </section>
{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {

  // 设置弹出提示框属性
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

  // 退回功能
    $("#untread_project").on("click", function() {
      var contract_record='{{ order.contract_record }}';
      // console.log(contract_record);
      if (contract_record == 'True') {
        toastr.error('已有关联合同，无法进行该操作！');
      }else {
        toastr.info('无关联合同，可进行该操作！');
        var pro_id = '{{ order.id}}';
        window.location.href="/project_order/untread_project/" + pro_id + "/";
      }

    });  //btn.on

  });  // .ready
</script>
{% endblock %}
