{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;修改发票信息 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/select2/css/select2.min.css' %}" />
  <!--customer css-->
<!--  <link href="{% static 'project_order/css/project_order_edit.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}

  <!-- Content Header (Page header) -->
  <section class="content-header pb-1">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-sm-6">
          <h5>修改发票信息</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">基本信息</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p><span> 关联合同 </span>：{{ invoice.link_apply.related_contract.contract_num }} </p>
              </div>
              <div class="col">
                <p><span class="link_info"> 单位 </span> ：{{ invoice.unit_invoice }} </p>
              </div>
              <div class="col">
                <p><span> 申请人 </span>：{{ invoice.applicant }} </p>
              </div>
            </div>

          </div> <!-- /.card-body -->
        </div>

        <div class="card card-info ">

              <form class="form-horizontal" method="post" action="{% url 'invoice_manage:edit_invoice_info' invoice.id %}">
              <!-- card-body -->
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="card-body ">  <!--<div class="card-body pt-0 pb-1 pl-1 pr-1">-->

                    {% csrf_token %}
                    <div class="row ">
                      <div class="col-md-8 offset-md-2">
                          <!--发票号-->
                          <div class="form-group row">
                            {{ form.invoice_num.label_tag }}
                            <div class="col-md-7">
                              {{ form.invoice_num }}
                            </div>
                          </div>
                          <!--发票金额-->
                          <div class="form-group row">
                            {{ form.invoice_sum.label_tag }}
                            <div class="col-md-7" id="unit">
                              {{ form.invoice_sum }}
                            </div>
                          </div>
                          <!--开票日期-->
                          <div class="form-group row">
                            {{ form.invoice_date.label_tag }}
                            <div class="col-md-7">
                              {{ form.invoice_date }}
                            </div>
                          </div>
                          <!--发票是否收回-->
                          <div class="form-group row">
                            {{ form.invoice_callback.label_tag }}
                            <div class="col-md-7">
                              {{ form.invoice_callback }}
                            </div>
                          </div>
                          <!--未收回原因-->
                          <div class="form-group row">
                            {{ form.reason.label_tag }}
                            <div class="col-md-7">
                              {{ form.reason }}
                            </div>
                          </div>

                      </div>    <!-- /.col-->
                      </div>   <!-- /.row-->
                  </div>  <!-- /.card-body-->
                </div>   <!-- /.col-->
              </div>  <!-- /.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-md-2 offset-md-5">
                        <a href="{% url 'invoice_manage:invoice_info' 'edit_back' %}" class="btn btn-secondary btn-sm">取消</a>
                        <input type="submit" value="提交" class="btn btn-success btn-sm float-right">
                      </div>
                    </div>
                  </div>  <!-- /.card-footer-->
                </div>  <!-- /.col-->
              </div>   <!-- /.row-->
              </form>

        </div>  <!-- /.card-->
      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/select2/js/select2.full.min.js' %}"></script>

<script type="text/javascript">

  $(document).ready(function() {

  // 给label加上class属性;input加上class;
  $("form label").addClass("col-md-4 col-form-label");

  // 给必填项添加*
  var txt1 = '<span style="color:red"> *</span>';
  $("[for='id_invoice_num']").append(txt1);
  $("[for='id_invoice_sum']").append(txt1);
  $("[for='id_invoice_date']").append(txt1);

  // 设置弹出提示框属性
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

  // 定义message显示
    function msgTip(){
      var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
      if (msgs=='failed') {
        toastr.error('修改失败！')
      }
    }
    msgTip();

  });  // .ready

</script>
{% endblock %}