{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;延期率展示 {% endblock %}

{% block css %}
  <!--chartjs css-->
  <link href="{% static 'chart.js-2.9.4/package/dist/Chart.min.css'  %}" rel="stylesheet" />

  <!--<link href="{% static 'css/inv_detail.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}
  <!-- Content Header (Page header) -->
  <div class="content-header pb-1">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">项目延期率统计</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">

        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">


      <div class="row">
        <div class="col-md-6">
          <!--项目总体延期率统计表-->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">前处理阶段延期率统计</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <canvas id="myChart1" ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
{% endblock %}

{% block script %}
<!-- chartjs js -->
<script src="{% static 'chart.js-2.9.4/package/dist/Chart.min.js' %}"></script>

<script type="text/javascript">
// 总体延期率统计函数
  function PretreatDelayRate() {
    $.get(
      '/data_visual/total_delay_rate/',
      function(data,status) {
        if (status=='success'){
          var result_data = JSON.parse(data);
          // 定义前处理阶段延期率
          var ctx1 = document.getElementById('myChart1').getContext('2d');
          var chart1 = new Chart(ctx1, {
            // 要创建的图表类型
            type: 'bar',
            // 数据集
            data: {
              labels:  result_data.pretreat_month ,  // X轴标签数据（一般为列表）
              datasets: [{
                label: "延期率",
                backgroundColor: 'rgb(144,238,144)',
                borderColor: 'rgb(255, 99, 132)',
                data:  result_data.pretreat_delay_rate ,  // 柱状图数据（一般为列表）
              }]
            },
            // 配置选项
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    callback:function(label,index,labels){
                      return String(label)+'%';
                    }
                  }
                }]
              },
              tooltips: {
                callbacks: {
                  label: function(tooltipItem, data){
                    //console.log(tooltipItem.datasetIndex);
                    var label =  "延期项目数：" + result_data.pretreat_delay_count[tooltipItem.index];
                    return label;
                  }
                }
              }
            }
          });
        }
      }    // success
    );    // ajax
  }
  PretreatDelayRate();
</script>
{% endblock %}