{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;延期率展示 {% endblock %}

{% block css %}
  <!--chartjs css-->
  <link href="{% static 'chart.js-2.9.4/package/dist/Chart.min.css'  %}" rel="stylesheet" />

  <!--<link href="{% static 'css/inv_detail.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}
  <!-- Content Header (Page header) -->
  <div class="content-header pb-1">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">项目延期率统计</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">

        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">


      <div class="row">
        <div class="col-md-6">
          <!--项目总体延期率统计表-->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">项目实施各阶段延期率统计</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <table class="table table-bordered text-center" id="myTable1" >
                    <thead>
                      <tr>
                        <th>阶段</th>
                        <th>参与统计项目数</th>
                        <th>延期项目数</th>
                        <th>延期率</th>
                      </tr>
                    </thead>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
{% endblock %}

{% block script %}
<!-- chartjs js -->
<script src="{% static 'chart.js-2.9.4/package/dist/Chart.min.js' %}"></script>

<script type="text/javascript">
// 总体延期率统计函数
  function TotalDelayRate() {
    $.get(
      '/data_visual/total_delay_rate/',
      function(data,status) {
        if (status=='success'){
          var result_data = JSON.parse(data);
          for (const row of result_data){
            var trSrc = "<tr><td>" + row.stage
              + "</td><td>" + row.projects
              + "</td><td>" + row.delay
              + "</td><td>" + row.delay_rate
              + "</td></tr>";
            $('#myTable1').append(trSrc);
            //console.log(trSrc);
          };
        }
      }    // success
    );    // ajax
  }
  TotalDelayRate();
</script>
{% endblock %}