{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;修改数据分析信息 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/select2/css/select2.min.css' %}" />
  <!--customer css-->
  <!--  <link href="{% static 'project_stage/css/sample_record_add.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header pb-1">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-sm-6">
          <h5>数据分析信息修改</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">项目号：&nbsp;{{ project_info.project_num }}</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p><span> 项目类型 </span>： {{ project_info.project_type.project_name }}</p>
              <p><span> 机时类型 </span>：
                  {{ project_info.machine_time|default:"-" }}
              </p>
            </div>
            <div class="col">
              <p><span class="link_info"> 单位 </span> ：
                {{ project_info.unit|default:"-" }}
              </p>
              <p><span class="link_info"> 送样人 </span> ：{{ project_info.sample_sender.customer_name }} </p>
            </div>
          </div>

        </div> <!-- /.card-body -->
        </div>
        <div class="card card-info ">
              <form class="form-horizontal" method="post" action="{% url 'project_stage:analysis_stage_edit' project_info.id %}">
              <!-- card-body -->
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="card-body ">  <!--<div class="card-body pt-0 pb-1 pl-1 pr-1">-->
                    {% csrf_token %}
                    <div class="row ">
                      <div class="col-md-6">
                        <!--项目负责人-->
                        <div class="form-group row">
                          {{ form.responsible_person.label_tag }}
                          <div class="col-md-6">
                            {{ form.responsible_person }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!--项目截止日期-->
                        <div class="form-group row">
                          {{ form.pro_deadline.label_tag }}
                          <div class="col-md-7">
                            {{ form.pro_deadline }}
                          </div>
                        </div>
                      </div>    <!-- /.col-->
                    </div>   <!-- /.row-->
                    <div class="row">
                      <div class="col">
                        <!--物种-->
                        <div class="form-group row">
                          {{ form.species.label_tag }}
                          <div class="col-md-9">
                            {{ form.species }}
                          </div>
                          <div class="col "><a role="button" class="btn btn-sm btn-link" style="color:#2ECC40;" href="{% url 'project_stage:species_add' %}">
                            <i class="fas fa-plus" ></i></a></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <!--搜库日期-->
                        <div class="form-group row">
                          {{ form.date_searchlib.label_tag }}
                          <div class="col-md-6">
                            {{ form.date_searchlib }}
                          </div>
                          <div class="col m-auto"><button type="button" class="btn btn-sm btn-link" id="set_searchlib_date">现在</button></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!--优先级-->
                        <div class="form-group row">
                          {{ form.priority.label_tag }}
                          <div class="col-md-7">
                            {{ form.priority }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <!--蛋白数量-->
                        <div class="form-group row">
                          {{ form.protein_amount.label_tag }}
                          <div class="col-md-6">
                            {{ form.protein_amount }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!--项目中断类型-->
                        <div class="form-group row">
                          {{ form.project_interrupt.label_tag }}
                          <div class="col-md-7">
                            {{ form.project_interrupt }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <!--报告发送日期-->
                        <div class="form-group row">
                          {{ form.date_send_report.label_tag }}
                          <div class="col-md-6">
                            {{ form.date_send_report }}
                          </div>
                          <div class="col m-auto"><button type="button" class="btn btn-sm btn-link" id="set_report_date">现在</button></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!--暂停或终止-->
                        <div class="form-group row">
                          {{ form.status.label_tag }}
                          <div class="col-md-7">
                            {{ form.status }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <!--原始数据发送日期-->
                        <div class="form-group row">
                          {{ form.date_send_rawdata.label_tag }}
                          <div class="col-md-6">
                            {{ form.date_send_rawdata }}
                          </div>
                          <div class="col m-auto"><button type="button" class="btn btn-sm btn-link" id="set_rawdata_date">现在</button></div>
                        </div>
                      </div>
                    </div>
                  </div>  <!-- /.card-body-->
                </div>   <!-- /.col-->
              </div>  <!-- /.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-md-2 offset-md-5">
                        <a href="{% url 'project_stage:analysis_stage' 'edit_back' %}" class="btn btn-secondary btn-sm">取消</a>
                        <input type="submit" value="提交" class="btn btn-success btn-sm float-right">
                      </div>
                    </div>
                  </div>  <!-- /.card-footer-->
                </div>  <!-- /.col-->
              </div>   <!-- /.row-->
              </form>

        </div>  <!-- /.card-->
      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/select2/js/select2.full.min.js' %}"></script>

<script type="text/javascript">

  $(document).ready(function() {

  // 给label加上class属性;input加上class;
  $("form .col-md-6 label").addClass("col-md-4 col-form-label");
  $("[for='id_species']").addClass("col-md-2 col-form-label");

  // 给select添加样式,<!-- Select2 -->
  $("#id_species").addClass("select2");
  $("#id_species").attr("style","width:100%;");
  //Initialize Select2 Elements
  $('.select2').select2();

  // 设置弹出提示框属性
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

  // 定义message显示
    function msgTip(){
      var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
      if (msgs=='failed') {
        toastr.error('信息有误，提交失败！')
      }
    }
    msgTip();

  // 定义获取当前时间函数
    function getdatetime(){
      var current_date = new Date();
      var year = current_date.getFullYear();
      var mon = current_date.getMonth()+1<10?"0" + (current_date.getMonth()+1):current_date.getMonth()+1;
      var day = current_date.getDate()<10?"0" + current_date.getDate():current_date.getDate();
      var hour = current_date.getHours()<10?"0" + current_date.getHours():current_date.getHours();
      var minute = current_date.getMinutes()<10?"0" + current_date.getMinutes():current_date.getMinutes();
      var date_str = year + "-" + mon + "-" + day + "T" + hour + ":" + minute;

      return date_str;
    }
  //设置搜库时间函数
    $("#set_searchlib_date").on("click",function (){
        var current_date = getdatetime();
        //toastr.info(current_date);
        $("#id_date_searchlib").attr("value",current_date);
      }
    )
  //设置报告发送时间函数
    $("#set_report_date").on("click",function (){
        var current_date = getdatetime();
        //toastr.info(current_date);
        $("#id_date_send_report").attr("value",current_date);
      }
    )
  //设置原始数据发送时间函数
    $("#set_rawdata_date").on("click",function (){
        var current_date = getdatetime();
        //toastr.info(current_date);
        $("#id_date_send_rawdata").attr("value",current_date);
      }
    )

  });  // .ready

</script>
{% endblock %}