{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;修改样本信息 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/select2/css/select2.min.css' %}" />
  <!--customer css-->
<!--  <link href="{% static 'project_stage/css/sample_record_add.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}

  <!-- Content Header (Page header) -->
  <section class="content-header pb-1">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-sm-6">
          <h5>样本信息修改</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">项目编号：&nbsp;{{ project_info.project_num }}</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>

        </div>

        <div class="card card-info ">
          <form class="form-horizontal" method="post" action="{% url 'project_stage:sample_record_edit' project_info.id %}" enctype="multipart/form-data">
          <!-- card-body -->
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="card-body ">  <!--<div class="card-body pt-0 pb-1 pl-1 pr-1">-->
                {% csrf_token %}
                <div class="row ">
                  <div class="col">
                      <!--项目类型-->
                      <div class="form-group row">
                        {{ form.project_type.label_tag }}
                        <div class="col-md-7">
                          {{ form.project_type }}
                        </div>
                      </div>
                      <!--样本类型-->
                      <div class="form-group row">
                        {{ form.sample_type.label_tag }}
                        <div class="col-md-7" id="unit">
                          {{ form.sample_type }}
                        </div>
                      </div>
                      <!--机时类型-->
                      <div class="form-group row">
                        {{ form.machine_time.label_tag }}
                        <div class="col-md-7">
                          {{ form.machine_time }}
                        </div>
                      </div>
                      <!--样本数量-->
                      <div class="form-group row">
                        {{ form.sample_amount.label_tag }}
                        <div class="col-md-7">
                          {{ form.sample_amount }}
                        </div>
                      </div>
                      <!--送样人-->
                      <div class="form-group row">
                        {{ form.sample_sender.label_tag }}
                        <div class="col-md-7">
                          {{ form.sample_sender }}
                        </div>
                      </div>
                      <!--收样时间-->
                      <div class="form-group row">
                        {{ form.receive_time.label_tag }}
                        <div class="col-md-6">
                          {{ form.receive_time }}
                        </div>
                        <div class="col m-auto"><button type="button" class="btn btn-sm btn-link" id="set_receive_date">现在</button></div>
                      </div>
                      <!--样本质量-->
                      <div class="form-group row">
                        {{ form.sample_quality.label_tag }}
                        <div class="col-md-7">
                          {{ form.sample_quality }}
                        </div>
                      </div>
                  </div>

                  <div class="col">
                      <!--附加项目-->
                      <div class="form-group row">
                        {{ form.addition_item.label_tag }}
                        <div class="col-md-7">
                          {{ form.addition_item }}
                        </div>
                      </div>
                      <!--代理ID-->
                      <div class="form-group row">
                        {{ form.agent_id.label_tag }}
                        <div class="col-md-7">
                          {{ form.agent_id }}
                        </div>
                      </div>
                      <!--防伪编号-->
                      <div class="form-group row">
                        {{ form.anti_fake_number.label_tag }}
                        <div class="col-md-7">
                          {{ form.anti_fake_number }}
                        </div>
                      </div>
                      <!--项目启动时间-->
                      <div class="form-group row">
                        {{ form.pro_start_date.label_tag }}
                        <div class="col-md-6">
                          {{ form.pro_start_date }}
                        </div>
                        <div class="col m-auto"><button type="button" class="btn btn-sm btn-link" id="set_start_date">现在</button></div>
                      </div>
                      <!--备注-->
                      <div class="form-group row">
                        {{ form.note.label_tag }}
                        <div class="col-md-7">
                          {{ form.note }}
                        </div>
                      </div>
                      <!--登记人-->
                      <div style="display:none;">{{  form.person_record }}</div>

                  </div>    <!-- /.col-->
                  </div>   <!-- /.row-->
              </div>  <!-- /.card-body-->
            </div>   <!-- /.col-->
          </div>  <!-- /.row-->
          <div class="row">
            <div class="col-md-12">
              <div class="card-footer ">
                <div class="row">
                  <div class="col-md-2 offset-md-5">
                    <a href="{% url 'project_stage:sample_record' 'edit_back' %}" class="btn btn-secondary btn-sm">取消</a>
                    <input type="submit" value="提交" class="btn btn-success btn-sm float-right">
                  </div>
                </div>
              </div>  <!-- /.card-footer-->
            </div>  <!-- /.col-->
          </div>   <!-- /.row-->
          </form>
        </div>  <!-- /.card-->
      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/select2/js/select2.full.min.js' %}"></script>

<script type="text/javascript">

  // 给label加上class属性;input加上class;
  $("form label").addClass("col-md-4 col-form-label");

  // 给必填项添加*
  var txt1 = '<span style="color:red"> *</span>';
  $("[for='id_project_type']").append(txt1);
  $("[for='id_sample_type']").append(txt1);
  $("[for='id_sample_amount']").append(txt1);
  $("[for='id_sample_sender']").append(txt1);
  $("[for='id_sample_quality']").append(txt1);
  $("[for='id_receive_time']").append(txt1);

  // 给select添加样式,<!-- Select2 -->
  $("#id_sample_sender").addClass("select2");
  $("#id_sample_sender ").attr("style","width:100%;");
  //Initialize Select2 Elements
  $('.select2').select2();

  // 设置弹出提示框属性
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

  // 定义message显示
    function msgTip(){
      var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
      if (msgs=='failed') {
        toastr.error('信息有误，提交失败！')
      }
    }
    msgTip();

  // 定义获取当前时间函数
    function getdatetime(){
      var current_date = new Date();
      var year = current_date.getFullYear();
      var mon = current_date.getMonth()+1<10?"0" + (current_date.getMonth()+1):current_date.getMonth()+1;
      var day = current_date.getDate()<10?"0" + current_date.getDate():current_date.getDate();
      var hour = current_date.getHours()<10?"0" + current_date.getHours():current_date.getHours();
      var minute = current_date.getMinutes()<10?"0" + current_date.getMinutes():current_date.getMinutes();
      var date_str = year + "-" + mon + "-" + day + "T" + hour + ":" + minute;

      return date_str;
    }
  //设置收样时间函数
    $("#set_receive_date").on("click",function (){
        var current_date = getdatetime();
        //toastr.info(current_date);
        $("#id_receive_time").attr("value",current_date);
      }
    )
  //设置项目启动时间函数
    $("#set_start_date").on("click",function (){
        var current_date = getdatetime();
        //toastr.info(current_date);
        $("#id_pro_start_date").attr("value",current_date);
      }
    )

</script>
{% endblock %}