{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;样本登记 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/select2/css/select2.min.css' %}" />
  <!--customer css-->
  <link href="{% static 'project_stage/css/sample_record_add.css'  %}" rel="stylesheet" />
{% endblock  %}

{% block content %}

  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>样本登记</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info ">

              <form class="form-horizontal" method="post" action="{% url 'project_stage:sample_record_add' %}" >
              <!-- card-body -->
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="card-body ">  <!--<div class="card-body pt-0 pb-1 pl-1 pr-1">-->

                    {% csrf_token %}
                    <div class="row ">
                      <div class="col">
                          <!--项目编号-->
                          <div class="form-group row">
                            <label>项目编号：</label>
                            <div class="col-md-7">
                              <input type="text" value="提交后自动生成" class="form-control" readonly="readonly">
                            </div>
                          </div>
                          <!--项目类型-->
                          <div class="form-group row">
                            {{ form.project_type.label_tag }}
                            <div class="col-md-7">
                              {{ form.project_type }}
                            </div>
                          </div>
                          <!--样本类型-->
                          <div class="form-group row">
                            {{ form.sample_type.label_tag }}
                            <div class="col-md-7" id="unit">
                              {{ form.sample_type }}
                            </div>
                          </div>
                          <!--机时类型-->
                          <div class="form-group row">
                            {{ form.machine_time.label_tag }}
                            <div class="col-md-7">
                              {{ form.machine_time }}
                            </div>
                          </div>
                          <!--样本数量-->
                          <div class="form-group row">
                            {{ form.sample_amount.label_tag }}
                            <div class="col-md-7">
                              {{ form.sample_amount }}
                            </div>
                          </div>
                          <!--送样人-->
                          <div class="form-group row">
                            {{ form.sample_sender.label_tag }}
                            <div class="col-md-7">
                              {{ form.sample_sender }}
                            </div>
                          </div>
                          <!--收样日期-->
                          <div class="form-group row">
                            {{ form.receive_date.label_tag }}
                            <div class="col-md-7">
                              {{ form.receive_date }}
                            </div>
                          </div>

                      </div>

                      <div class="col">
                          <!--样本质量-->
                          <div class="form-group row">
                            {{ form.sample_quality.label_tag }}
                            <div class="col-md-7">
                              {{ form.sample_quality }}
                            </div>
                          </div>
                          <!--附加项目-->
                          <div class="form-group row">
                            {{ form.addition_item.label_tag }}
                            <div class="col-md-7">
                              {{ form.addition_item }}
                            </div>
                          </div>

                          <!--备注-->
                          <div class="form-group row">
                            {{ form.note.label_tag }}
                            <div class="col-md-7">
                              {{ form.note }}
                            </div>
                          </div>

                          <!--登记人-->
                          <div class="form-group row">
                            {{ form.person_record.label_tag }}
                            <div class="col-md-7">
                              <input  type="text" name="person_record" class="form-control" value="{{ request.session.user_name }}" readonly="readonly" id="id_person_add" />
                            </div>
                          </div>

                      </div>    <!-- /.col-->
                      </div>   <!-- /.row-->
                  </div>  <!-- /.card-body-->
                </div>   <!-- /.col-->
              </div>  <!-- /.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-md-2 offset-md-5">
                        <a href="{% url 'project_stage:sample_record' %}" class="btn btn-secondary btn-sm">取消</a>
                        <input type="submit" value="提交" class="btn btn-success btn-sm float-right">
                      </div>
                    </div>
                  </div>  <!-- /.card-footer-->
                </div>  <!-- /.col-->
              </div>   <!-- /.row-->
              </form>

        </div>  <!-- /.card-->
      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/select2/js/select2.full.min.js' %}"></script>

<script type="text/javascript">

  // 给label加上class属性;input加上class;
  $("form label").addClass("col-md-4 col-form-label");

  // 给必填项添加*
  var txt1 = '<span style="color:red"> *</span>';
  $("[for='id_project_type']").append(txt1);
  $("[for='id_sample_type']").append(txt1);
  $("[for='id_sample_amount']").append(txt1);
  $("[for='id_sample_sender']").append(txt1);
  $("[for='id_sample_quality']").append(txt1);
  $("[for='id_receive_date']").append(txt1);


  // 给select添加样式,<!-- Select2 -->
  $("#id_sample_sender").addClass("select2");
  $("#id_sample_sender ").attr("style","width:100%;");
  //Initialize Select2 Elements
  $('.select2').select2();

  // 设置弹出提示框属性
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

  // 定义message显示
    function msgTip(){
      var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
      if (msgs=='repeat') {
        toastr.error('该客户已存在！')
      }else if (msgs=='info_error') {
        toastr.error('添加失败！')
      }
    }
    msgTip();

</script>
{% endblock %}