{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;修改质谱检测信息 {% endblock %}

{% block css %}
  <!--toastr提示框-->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'AdminLTE-3.0.2/plugins/select2/css/select2.min.css' %}" />
  <!--customer css-->
  <!--  <link href="{% static 'project_stage/css/sample_record_add.css'  %}" rel="stylesheet" />-->
{% endblock  %}

{% block content %}

  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>修改质谱检测信息</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">项目号：&nbsp;{{ pro_test.project_num }}</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p><span> 项目类型 </span>： {{ pro_test.project_type.project_name }}</p>
              <p><span> 机时类型 </span>：
                  {{ pro_test.machine_time|default:"-" }}
              </p>
            </div>
            <div class="col">
              <p><span class="link_info"> 单位 </span> ：
                {{ pro_test.unit|default:"-" }}
              </p>
              <p><span class="link_info"> 送样人 </span> ：{{ pro_test.sample_sender.customer_name }} </p>
            </div>
          </div>

        </div> <!-- /.card-body -->
        </div>
        <div class="card card-info ">

              <form class="form-horizontal" method="post" action="{% url 'project_stage:test_stage_edit' pro_test.id %}" >
              <!-- card-body -->
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="card-body ">  <!--<div class="card-body pt-0 pb-1 pl-1 pr-1">-->
                    {% csrf_token %}
                    <div class="row ">
                      <div class="col-md-8 offset-md-2">
                        <!--上机仪器-->
                        <div class="form-group row">
                          {{ form.instrument_type.label_tag }}
                          <div class="col-md-6">
                            {{ form.instrument_type }}
                          </div>
                        </div>
                        <!--上机日期-->
                        <div class="form-group row">
                          {{ form.date_test.label_tag }}
                          <div class="col-md-6">
                            {{ form.date_test }}
                          </div>
                          <div class="col m-auto"><span ><a href="#" id="set_test_date">今天</a></span></div>
                        </div>
                        <!--下机日期-->
                        <div class="form-group row">
                          {{ form.test_finish_date.label_tag }}
                          <div class="col-md-6">
                            {{ form.test_finish_date }}
                          </div>
                          <div class="col m-auto"><span ><a href="#" id="set_finish_date">今天</a></span></div>
                        </div>
                      </div>
                      </div>   <!-- /.row-->
                  </div>  <!-- /.card-body-->
                </div>   <!-- /.col-->
              </div>  <!-- /.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-md-2 offset-md-5">
                        <a href="{% url 'project_stage:test_stage' 'edit_back' %}" class="btn btn-secondary btn-sm">取消</a>
                        <input type="submit" value="提交" class="btn btn-success btn-sm float-right">
                      </div>
                    </div>
                  </div>  <!-- /.card-footer-->
                </div>  <!-- /.col-->
              </div>   <!-- /.row-->
              </form>

        </div>  <!-- /.card-->
      </div>   <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}

{% block script %}
<!-- toastr提示框插件 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/toastr/toastr.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'AdminLTE-3.0.2/plugins/select2/js/select2.full.min.js' %}"></script>

<script type="text/javascript">

  $(document).ready(function() {
    // 给label加上class属性;input加上class;
    $("form label").addClass("col-md-4 col-form-label");

    // 设置弹出提示框属性
      toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: false,
        positionClass: "toast-center-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
      };

    // 定义message显示
      function msgTip(){
        var msgs = '{{msg}}';  //此处变量外要加引号，否则显示not defined
        if (msgs=='failed') {
          toastr.error('修改失败！')
        }
      }
      msgTip();
    // 定义获取当前日期函数
    function getdate(){
      var current_date = new Date();
      var year = current_date.getFullYear();
      var mon = current_date.getMonth()+1;
      var day = current_date.getDate();
      var date_str;
      if (mon<10) {
        date_str =year + "-" + "0" + mon + "-" + day;
      }else {
        date_str =year + "-" + mon + "-" + day;
      }
      return date_str;
    }
    //设置上机日期函数
    $("#set_test_date").on("click",function (){
        var current_date = getdate();
        //toastr.info(current_date);
        $("#id_date_test").attr("value",current_date);
      }
    )
    //设置下机日期函数
    $("#set_finish_date").on("click",function (){
        var current_date = getdate();
        $("#id_test_finish_date").attr("value",current_date);
      }
    )
  });  // .ready

</script>
{% endblock %}