{% extends "customer/base.html"  %}
{% load static %}

{% block title %} 谱度众合&nbsp;|&nbsp;检测分析详情页 {% endblock %}

{% block css %}
    <link href="{% static 'project_stage/css/test_analysis_detail.css'  %}" rel="stylesheet" />
{% endblock  %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-0">
        <div class="col-sm-6">
          <h5>检测分析详细信息</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- card部分 -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- card-header -->
          <div class="card-header ">
            <h5 class="m-0"><strong class="btn btn-info">项目：{{ record.project_num }}</strong></h5>
          </div>
          <!-- card-body -->
          <div class="card-body  pb-1  "> <!--pt-0 pl-1 pr-1-->
            <div class="row">
              <div class="col-md-12">
                <h6><b>基本信息:</b></h6>
                <table border="1" class="table " style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
                  <thead>
                    <tr>
                        <th>项目类型</th>
                        <th>样本类型</th>
                        <th>机时类型</th>
                        <th>样本数量</th>
                        <th>检测仪器</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ record.project_type.project_name }}</td>
                      <td>{{ record.sample_type.type_name }}</td>
                      <td>
                        {% if record.machine_time %}
                          <span>{{ record.machine_time.time_type }}</span>
                        {% else %}
                          <span>-</span>
                        {% endif %}
                      </td>
                      <td>{{ record.sample_amount }}</td>
                      <td>
                        {% if record.instrument_type %}
                          <span>{{ record.instrument_type.instrument }}</span>
                        {% else %}
                          <span>-</span>
                        {% endif %}
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div><!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-8">
              <h6><b>送样人:</b></h6>
              <table border="1" class="table " style="border-left:3px solid orangered;border-bottom:1px solid orangered" >
                <thead>
                  <tr>
                      <th>姓名</th>
                      <th>邮箱</th>
                      <th>单位</th>
                      <th>送样终端</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ record.sample_sender.customer_name }}</td>
                    <td>{{ record.sample_sender.mail|default:"-" }}</td>
                    <td>{{ record.unit|default:"-" }}</td>
                    <td>{{ record.terminal|default:"-" }}</td>
                  </tr>
                </tbody>
              </table>
              </div>  <!--/.col-->
            </div>  <!--/.row-->
            <div class="row">
              <div class="col-md-10">
                <h6><b>时间节点:</b></h6>
                <table border="1" class="table " style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
                <thead>
                  <tr>
                      <th>上机日期</th>
                      <th>搜库日期</th>
                      <th>报告发送日期</th>
                      <th>原始数据发送日期</th>
                      <th>下机截止日期</th>
                      <th>项目截止日期</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {% if record.date_test %}
                        {{ record.date_test|date:"Y-m-d" }}
                      {% else %}
                        -
                      {% endif  %}
                    </td>
                    <td>
                      {% if record.date_searchlib %}
                        {{ record.date_searchlib|date:"Y-m-d" }}
                      {% else %}
                        -
                      {% endif  %}
                    </td>
                    <td>
                      {% if record.date_send_report %}
                        {{ record.date_send_report|date:"Y-m-d" }}
                      {% else %}
                        -
                      {% endif  %}
                    </td>
                    <td>
                      {% if record.date_send_rawdata %}
                        {{ record.date_send_rawdata|date:"Y-m-d" }}
                      {% else %}
                        -
                      {% endif  %}
                    </td>
                    <td>
                      {% if record.test_deadline %}
                        {{ record.test_deadline|date:"Y-m-d" }}
                      {% else %}
                        -
                      {% endif %}
                    </td>
                    <td>
                      {% if record.pro_deadline %}
                        {{ record.pro_deadline|date:"Y-m-d" }}
                      {% else %}
                        -
                      {% endif  %}
                    </td>
                  </tr>
                </tbody>
              </table>

              </div><!--/.col-->
            </div>  <!--/.row-->

          </div>  <!-- /.card-body-->
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a href="{% url 'project_stage:test_analysis'%}" style="color:green;"><strong>返回检测分析列表</strong></a>
              </div>  <!--/.col-->
            </div>
          </div>  <!--/.row-->
        </div>  <!-- /.card-->
      </div> <!-- /.col-->
    </div>  <!-- /.row-->
  </section>

{% endblock %}
